/* .title {
  color: #08b3dd;
  font-size: 24px;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
} 
  
*/
.my-div {
  background-color: #40e0b0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
