/* .title {
  color: #08b3dd;
  font-size: 24px;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
} 
  
*/
/* .my-div {
  background-color: #40e0b0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */
/* .para1 {
  color: #ff0000;
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-style: italic;
  position: relative;
  transition: all 0.3s ease;
} */
