html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: white;
  text-align: center;
}

.hello {
  background-color: darkblue;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hello_container {
  height: 400px;
  width: 400px;
}
/* background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */
